<div class="bottom-nav">
    <a routerLink="/admin/home-index" routerLinkActive="active"><i class="bi bi-house-door-fill"></i></a>
    <a routerLink="/admin/productos" routerLinkActive="active"><i class="bi bi-fork-knife"></i></a>
    <a routerLink="/admin/precios" routerLinkActive="active"><i class="bi bi-currency-dollar"></i></a>
    <a routerLink="/admin/pedidos" routerLinkActive="active"><i class="bi bi-journal"></i></a>
    <a routerLink="/admin/usuarios" routerLinkActive="active"><i class="bi bi-person-fill"></i></a>
    <a routerLink="/admin/promociones" routerLinkActive="active"><i class="bi bi-percent"></i></a>
  </div>