/* Estilos globales de body ahora en src/styles.css */

.card-precio { background-color: #fde0db; border-radius: 12px; padding: 10px; }
    .navbar { background-color: #f25c2a; border-top-left-radius: 15px; border-top-right-radius: 15px; }
    .navbar a { color: white; }