.app-header {
  background-color: #FFD966;
  color: #D9534F;
  padding: 20px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.card {
background-color: #fde0db;
border-radius: 10px;
}